@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-primary: #122348;
  --color-accent: #f6d674;
  --color-white: #FFFFFF;
  --color-cream: #fdfbf7; /* Your custom Cream Color */
}

/* This applies the Cream color to the WHOLE website background */
body {
  background-color: var(--color-cream);
  color: var(--color-primary);
}